.header-search {
    height: 30px;
    width: 600px;
    display: flex;
    border: solid 1px black;
    border-radius: @radius;
    background: @grey;
    margin-left: 338px;
    
    &___info {
        display: flex;
        margin-left: @marging-left;
        margin-top: 7px;
        height: 18px;
        width: 72px;
    
      }
      
      &__field {

        width: 516px;
        margin: 0px;
    
      }

}

  .search-info__magnifier {
      height: 18px;
      width: 18px;

      &__text {

        margin-left: @marging-left;
  
    }

  }



 