.header__settings {
  display: flex;
  margin-top: 16px;
}

.settings__ring {
  margin-top: 5px;
  width: 22px;
  height: 22px;
}

.settings__adjustments {
  margin-top: 5px;
  width: 22px;
  height: 22px;
  margin-left: 16px;
}

.settings__profile {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-left: 24px;
}
