.header__logo {
  width: 88px;
  height: 28px;
  margin-top: 16px;
  margin-left: @margin-left;
  display: flex;
}

.logo__picture {
  width: 28px;
  height: 28px;
  border-radius: @radius;
}

.logo__name {
  margin-left: 12px;
  margin-top: 6px;
  font-size: 14px;
}
