.form__textarea {
  margin-top: 16px;
  width: 600px;
  height: 32px;
  font-size: 14px;
  border-radius: @radius;
  border: none;
  background: @light-black;
  color: @grey;
  background-image: url(https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/header/search_icon.png?raw=true);
  background-position: top 7px left 12px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  padding-left: 40px;

}
