.participants.nav__participants
  img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/nav/Icon%20(1).png?raw=true" alt="").participants__icon 
  .participants__status 8 участников
