nav.nav
  .navigation-bar.nav__navigation-bar
    .navigation-bar__name UI/UX Design
    .navigation-bar__arrow
    .navigation-bar__description Создать новые компоненты и почистить старые
  .nav__navigation-menu Сделать лендинг на основе существующей дизайн-системы 
  .nav__navigation-description Описание
