.navigation-menu.nav__navigation-menu
  .navigation-menu__buttons
    .navigation-menu__button
      a(href="#" src="").button__link.button__link-focused Доска
    .navigation-menu__button
      a(href="#" src="").button__link.button__link-focused Комментарии
    .navigation-menu__button
      a(href="#" src="").button__link.button__link-focused Активность
    .navigation-menu__button
      a(href="#" src="").button__link.button__link-focused Файлы
  .navigation-menu__view
    img(src="https://raw.githubusercontent.com/NikitaVakhrameev/gulp-template/bb402881e1278fc025cf940298708b101eaea9b7/src/pic/nav/grid-01.svg").view__screen 
    img(src="https://raw.githubusercontent.com/NikitaVakhrameev/gulp-template/bb402881e1278fc025cf940298708b101eaea9b7/src/pic/nav/list.svg").view__screen 
