.navigation-bar.nav__navigation-bar
  .navigation-bar__menu
    .navigation-bar__name UI/UX Design
    .navigation-bar__status в процессе
  button.navigation-bar__task (type="submit" value="+ Добавить задачу") + Добавить задачу
