.navigation-menu.nav__navigation-menu
  .navigation-menu__buttons
    .navigation-menu__button
      a.button__link.button__link-focused (href="#" src="") Доска
    .navigation-menu__button
      a.button__link.button__link-focused (href="#" src="") Комментарии
    .navigation-menu__button
      a.button__link.button__link-focused (href="#" src="") Активность
    .navigation-menu__button
      a.button__link.button__link-focused (href="#" src="") Файлы
  .navigation-menu__view
    img.view__screen (src="")
    img.view__screen (src="")
