.navigation-bar.nav__navigation-bar
  .navigation-bar__menu
    .navigation-bar__name UI/UX Design
    .navigation-bar__status в процессе
  button(type="submit" value="+ Добавить задачу").navigation-bar__task  + Добавить задачу
