aside.sidebar
  .sidebar__info
    .sidebar__description
      .sidebar__lable
        img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/nav/Icon.png?raw=true").lable__icon
        p.lable__description Лейбл
      .sidebar__participants
        img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/nav/Icon%20(1).png?raw=true").lable__icon 
        p.lable__description Участники
  .sidebar__employees
    .employees__card Планирование
    ul(type="none").employees__list
      li.employee__name М.Зайцев
      li.employee__name А.Маркелова
      li.employee__name К.Бусинов
      li.employee__name И.Булыгинов
  .sidebar__priority
    .priority__details
      img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/nav/Icon%20(1).png?raw=true").priority__picture
      p.priority__desc Срочность
      p.priority__state Высокая
  .task-open__details
    img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/nav/Icon%20(1).png?raw=true").priority__picture
    p.task-open__desc Дата создания
