.settings.header__settings
    img(src="https://raw.githubusercontent.com/NikitaVakhrameev/gulp-template/2f852bfad594e2bbd5523f66a0540811474ee9af/src/pic/header/bell-01.svg").settings__ring
    img.settings__elipse.settings-elipse-disabled
    img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/header/header_settings.png?raw=true").settings__adjustments
    img(src="https://github.com/NikitaVakhrameev/gulp-template/blob/main/src/pic/header/Rectangle%205.png?raw=true").settings__profile
