.card__UX
  .card__task-status
    .card__description.card__description-UX UX
    .task-status__options ...
  .task-status__description Сделать ревью страницы заказа вместе с разработчиком
  .users
    .users__avatar
      img.user__avatar-first (src="")
      img.user__avatar-second (src=")
      img.user__avatar-third (src=")
      img.user__avatar-forth (src=")
      .users__counter +3
  .card__date
    img.date__calendar
    .date__task-open
