.card__UI
  .card__task-status
    .card__description.card__description-UI UI
    .task-status__options ...
  .task-status__description Переделать дизайн карточек
  .users
    .users__avatar
      img.user__avatar-first (src="")
      img.user__avatar-second (src=")
      img.user__avatar-third (src=")
      img.user__avatar-forth (src=")
      .users__counter +3
  .card__date
    img.date__calendar
    .date__task-open
